<a href="https://colab.research.google.com/github/alyssaboynton19/Intro-Python/blob/master/Week_12_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas
file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
state_data = pandas.read_csv(file_name)

state_data['Pop'].median()

3294394.0

In [2]:
import pandas
file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
state_data = pandas.read_csv(file_name)

m_count = 0
for (row_num, row)  in state_data.iterrows():
  if 'M' in row['Name']:
    name_string = row['Name']
    if name_string[0] == 'M':
      m_count = m_count + 1
print(m_count)

8

In [3]:
import pandas

file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
state_data = pandas.read_csv(file_name)

state_data["Pop Density"] = state_data["Pop"] / state_data["Area"]

state_data.head()

         Name State    Area       Pop  Pop Density
0     Alabama    AL   52423   4040587    77.076608
1      Alaska    AK  656424    550043     0.837939
2     Arizona    AZ  114006   3665228    32.149431
3    Arkansas    AR   53182   2350725    44.201516
4  California    CA  163707  29769021   181.843299

In [4]:
import pandas

file_name = "https://raw.githubusercontent.com/mlepinski/Python-Worksheets/master/states.csv"
state_data = pandas.read_csv(file_name)

state_data["Pop Density"] = state_data["Pop"] / state_data["Area"]

max_popdens = state_data["Pop Density"].max()
max_popdens_row = state_data[ state_data["Pop Density"]== max_popdens]
print("The state with the highest population density is:")
print(max_popdens_row, "\n")


min_popdens = state_data["Pop Density"].min()
min_popdens_row = state_data[ state_data["Pop Density"]== min_popdens]
print("The state with the lowest population density is:")
print(min_popdens_row, "\n")

med_popdens = state_data["Pop Density"].median()
med_popdens_row = state_data[ state_data["Pop Density"]== med_popdens]
print("The state with the median population density is:")
print(med_popdens_row)

The state with the highest population density is:
                   Name State  Area     Pop  Pop Density
8  District of Columbia    DC    68  606900       8925.0

The state with the lowest population density is:
     Name State    Area     Pop  Pop Density
1  Alaska    AK  656424  550043     0.837939

The state with the median population density is:
         Name State   Area      Pop  Pop Density
49  Wisconsin    WI  65499  4891769    74.684636